/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.is-style-success {
	font-size: 34px; 
	border: 5.2px dashed green;
}


